.ipay88-payment-method-detail-list {max-width: 600px }
.ipay88-payment-method-detail-list ul { list-style: none; max-width: 600px }
.ipay88-payment-method-detail-list ul li { border: 1px solid #cccccc; display: inline-block; padding: 1px; margin: 2px }

.ipay88-payment-method-detail-list input {
    position:relative;
    vertical-align:middle;
}

.form-item.form-type-radio.form-item-commerce-payment-payment-details-ipay88-payment-methods {
    border: 2px solid #cccccc;
    display: inline-block;
}

.form-item.form-type-radios.form-item-commerce-payment-payment-details-ipay88-payment-methods > label {
    width: 100% !important;
}

.ipay88-payment-method-detail-list img {
    position:relative;
    max-width: 100px;
    max-height: 33px;
    display:inline-block;
    vertical-align:middle;
    padding: 3px;
}