#payment_module_ipay88
{
    display: block;
    border: 1px solid #d6d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
    font-weight: bold;
    padding: 33px 40px 34px 7px;
    letter-spacing: -1px;
    position: relative; 
}

#payment_module_ipay88:after 
{
	display: block;
  	content: "\f054";
  	position: absolute;
  	right: 15px;
  	margin-top: -11px;
  	top: 45px;
  	font-family: "FontAwesome";
  	font-size: 25px;
  	height: 22px;
  	width: 14px;
  	color: #777;
}

#payment_module_ipay88:hover 
{
  	background-color: #f6f6f6; 
}

#payment_module_ipay88 a span 
{
	font-weight: bold;
	color: #000000; 
}    
  
  
  
  