.ipay88_opt_container
{
	display: inline-block;
	vertical-align: top;
	width: 150px;
	min-height: 150px;
	margin: 0 10px;
	border: 1px solid #CCCCCC;
	padding: 10px 25px;
	border-radius: 5px;
}

.ipay88_title_opt
{
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
}


.ipay88_form
{
	border: 1px solid rgba(219,219,219,0.86);
	border-radius: 5px;
	padding-right: 20px;
	padding-left: 20px;
}