
<div class="alert alert-info">

<img src="../modules/ipay88_kredivo/assets/images/ipay88.png" style="float:left; margin-right:15px;">

<p><strong>{l s="iPay88 Kredivo Payment" mod='ipay88_kredivo'}</strong></p>

<p>
	Version 1.7.1 | By <a href="http://ipay88.co.id/">System Engineer Officer iPay88</a> | <a href="http://ipay88.co.id/">Visit plugin site</a> | iPay88 is a payment gateway works by redirecting the customer to iPay88 server to make a kredivo payment and then returns the customer back to your "Thank you/Receipt" page.
</p>

</div>






