<div class="row">
<div class="col-xs-12">

<div id="payment_module_ipay88" onclick="show_ipay88_kredivo()" style=" cursor: pointer; text-decoration:none;">
	
    <a>
    <img src="{$this_path_bw}/assets/images/ipay88.png" alt="{l s='Pay with iPay88' mod='ipay88_kredivo'}"/>
    {l s="{$ipay88_kredivo_method_title}" mod='ipay88_kredivo'} 	
	</a>
    
    <br>
    
    <div id="show_ipay88_kredivo" style="display:none;">
		        
        <br>
    	<b>Payment Type <span style="color:red">*</span></b>
        <br><br>
        
        <form action="{$link->getModuleLink('ipay88_kredivo', 'validation', [], true)|escape:'html'}" method="post">
        
        <img src="{$this_path_bw}/assets/images/ipay88_kredivo.png" alt="{l s='Pay with iPay88' mod='ipay88_kredivo'}"/> 
        
        <br><br>
        <p style="font-size:16px; font-weight:normal;"><font style="color:red;">* </font>{$ipay88_kredivo_description}</p>
        <br>
        
       		<input type="hidden" name="payment_id" id="payment_id" value="55">    
			<input type="submit" class="btn btn-primary" onclick="show_ipay88_kredivo()" style="float:right; margin-right:-25px;" value="Confirm Order" id="ipay88_button">
		
        </form>		
		
   
        <br>
         
    </div>

</div>

<br>

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
function show_ipay88_kredivo() 
{
   $("#show_ipay88_kredivo").toggle();
   e.preventDefault();
}
</script>


